{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "overrides": [
    {
      "files": [
        "**/*{.js,.ts}"
      ],
      "rules": {
        "prettier/prettier": [
          "warn",
          {
            "semi": true,
            "trailingComma": "all",
            "singleQuote": true,
            "printWidth": 80,
            "tabWidth": 2
          }
        ],
        "newline-before-return": "warn",
        "space-before-blocks": "warn",
        "padding-line-between-statements": "warn"
      }
    }
  ]
}
